* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100%;
    height: 100vh;
    max-height: 100vh;
    color: white;
    background: rgb(1, 1, 15);
    background: radial-gradient(circle, rgba(1, 1, 15, 1) 34%, rgba(1, 1, 24, 1) 95%);
}

main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.btn {
    padding: 48px;
    background-color: rgb(2, 104, 2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity 0.15s;
}

.btn:hover {
    opacity: .7;
}

.btn-icon {
    position: absolute;
}